{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": true,
  "quoteProps": "consistent",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-astro",
    "prettier-plugin-astro-organize-imports",
    "prettier-plugin-packagejson"
  ],
  "overrides": [
    {
      "files": [".*", "*.json", "*.md", "*.mdx", "*.toml", "*.yml"],
      "options": {
        "useTabs": false
      }
    },
    {
      "files": ["*.astro"],
      "options": {
        "parser": "astro"
      }
    }
  ]
}
